*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;

}
:root{
    --color-primary: #191d2b;
    --color-secondry: #9f09e4c9;
    --color-white: #ffffff;
    --color-black: #000;
    --color-gray0: #f8f8f8;
    --color-gray-1: #dbe1e8;
    --color-gray-2: #b2becd;
    --color-gray-3: #6c7893; 
    --color-gray-4: #454e56; 
    --color-gray-5: #2a2e35;
    --color-gray-6: #12181b;
    --br-sm-2: 50px;
    --box-shadaw-1: 0 3px 15px rgba(0,0,0,.3);

}

.light-mode{
    --color-primary: #ffffff;
    --color-secondry: #e97ab7de;
    --color-white: #121213dc;
    --color-black: #000;
    --color-gray0: #f8f8f8;
    --color-gray-1: #6c7938;
    --color-gray-2: #6c7083;
    --color-gray-3: #6c7893; 
    --color-gray-4: #454e65; 
    --color-gray-5: #616264;
    --color-gray-6: #12181b;
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;

}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;

}
section{
    min-height: 100vh;
    width: 100%;
    position:absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}
.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}
.sec1{
    display: none;
    transform: translateY(0) scale(1);
}
.sec2{
    display: none;
    transform: translateY(0) scale(1);
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);
    
}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
    
}
.sec5{
    display: none;
    transform: translateY(0) scale(1);
    
}
.active{
    display:block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0%{
            transform: translateY(-100%) scaleY(0);
        }
        100%{
            transform: translateY(0) scaleY(1);
        }
        
    }
}
.controlls{
    position: fixed;
    z-index: 10;
    top:50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-secondry)  !important;
        transition: all .4s ease-in-out;
        i{
            color: var(--color-white) !important;
        }
    }
    .control{
        padding: 1rem;
        cursor:pointer;
        background-color: var(--color-gray-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadaw-1);
        i{
            font-size: 1.2rem;
            pointer-events: none;
            color: var(--color-gray-2);
        }
    }

}
/* header-content*/
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    .left-content{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
             transition: all .4 ease-in-out;
             width: 65%;
             height: 100%;
             background-color: var(--color-secondry);
             position: absolute;
             left: 0;
             top: 0;
             z-index: -1;
             clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);

        }
        .image{
            border-radius: var(--br-sm-2);
            height: 90%;
            width: 68%;
            margin-left: 4rem;
            background-color: var(--color-black);
            transition: all .4s ease-in-out;
            img{
                width:100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0);
                }
            
            }
        }
    }
    .right-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
        .name{
            font-size: 3rem;
            span{
                color: var(--color-secondry);

            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }

}

/* independent content */
.btn-con{
    display: flex;
    align-self: flex-start;
    justify-content: center;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 150;
    position: relative;
    border: 2px solid var(--color-secondry);
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    padding: 0 2rem ;
    padding-right: 0;
    overflow: hidden;
    .btn-text{
        margin-left: 2rem ;
        font-weight: 100;
        
    }
    .btn-icon{
        background-color: var(--color-secondry);
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        border-radius: 50%;
        padding: 1rem;

    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(-100%);
        transition: all .4s ease-in-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondry);
            transform: translateX(0);
            transition: all .4s ease-in-out;
        }
    }


}

.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;

    }
    span{
        color: var(--color-secondry);
    }
    .bg-txt{
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--color-gray-5);
        transition: all .4s ease-in-out;
        z-index:-1;
        transform: translate(-50%, -50%);
        font-weight: 800 ;
        font-size: 4.8rem;
    }
}

/* About */
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 5rem;
    padding-bottom: 5rem;
    .right-about{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid: gap 1rem;
        .about-item{
            border: 2px solid var(--color-gray-5);
            border-radius: 5px;
            margin: 0.5rem;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0,0,0,.1);
            &:hover{
                cursor: default;
                transform: translate(-5px);
                border: 4px solid var(--color-secondry);
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            }
            .abt-text{
                padding: rem;
                display: flex;
                flex-direction: column;
                .large-text{
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondry);
                }
                .small-text{
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--color-gray-1);
                    letter-spacing: 2px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--color-gray-5);
                    }


                }
            }
        }

    }
    .left-about{
        padding-right: 1rem;
        p{
            line-height: 1.5rem;
            padding: 1rem;
            color: var(--color-gray-1);
        }
        h4{
            font-size: 2rem;
            text-transform: upper-case;
        }
    }
}
.about-stats{
    padding-bottom: 4rem;
    
    .progress-bars{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid: gap 4rem;
    
        
        .progress-bar{
            display: flex;
            flex-direction: column;
            margin-left: 2rem;
            .prog-txt{
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-con{
                display: flex;
                align-items: center;
                .prog-text{
                    color: var(--color-gray-2 );
                }
                .progress{
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-gray-4);
                    margin-left: 1rem;
                    position: relative;
                    border-radius: 5px;
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondry);
                        transition: all .4s ease-in-out;
                        width: 90%;
                    }
                    .html{
                        width: 90%;
                    }
                    .css{
                        width: 50%;
                    }
                    .php{
                        width: 80%;
                    }
                    .js{
                        width: 50%;
                    }
                    .cpp{
                        width: 30%;
                    }
                    .cpp{
                        width: 70%;
                    }

                }
            }
        }
    }
}
.stat-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before{
        content:'';
        position: absolute;
        left:50%;
        width: 40%;
        height:1px;
        background-color: var(--color-gray-5);
        transform: translateX(-50%);


    }
}


hr{
    background-color: var(--color-gray-4);
}
.timeline{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:4rem ;
    grid-row-gap:2rem;
    padding-bottom: 3rem;
    .timeline-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px solide var(--color-gray-5);
        .timeline-icon{
            position: absolute;
            left: -23px;
            top: 0;
            background-color: var(--color-secondry);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 1.3rem;
            }
        }
        .tl-duration{
            padding: .2rem .6rem;
            color: var(--color-gray-3);
            /*border-radius: 15px; */
            display: inline-block;
            font-size: .8rem;
            text-transform:uppercase;
            font-weight: 500;
            font-size: 1rem;
        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            span{
                color: var(--color-gray-2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        p{
            color: var(--color-gray-2);
        }
    }
}
 .port-text{
    padding: 2rem 0;
    text-align: center;
 }
 .portfolios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2rem;
    margin-top: 3rem;
    .portfolio-item{
        position:relative;
        border-radius: 15px;
    }
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
    }
    .hover-item{
        width: 100%;
        height: 100%;
        background-color: var(--color-secondry);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transform: scale(0);
        transition: all .4s ease-in-out;
        h3{
            font-size: 1.5rem;
            color: var(--color-white);
            margin-bottom: 1.5rem;
        }
        .icons{
            display: flex;
            justify-content: center;
            align-items: center;
            .icon{
                background-color: var(--color-primary);
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0.1rem;
                cursor: pointer;
                transition: all .4s ease-in-out;
        
                i{
                    font-size: 1.5rem;
                    color: var(--color-white);
                    margin: 0 1rem;
                }
                &::hover{
                    background-color: var(--color-white);
                    i{
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
 }
 .portfolio-item:hover .hover-item{
    opacity: 1;
    transform: scale(1);
 }
 .blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2rem;
    margin-top: 3rem;
    .blog{
        position: relative;
        background-color: var(--color-gray-5);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        &:hover{
            box-shadow: 1px 1px 2px rgba(0,0,0,.3);
            transform: translateY(-5px);
            transition: all ,4s ease-in-out;
            img{
                filter: grayscale(0);
                transform: scale(1.1);
                box-shadow: 0px 4px 15px rgba(0,0,0,.8);

            }

        }
        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            filter:grayscale(100%);
            transition:all .4s ease-in-out;
        }
        .blog-text{
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid var(--color-secondry);
            h4{
                font-size: 1.5rem;
                margin-bottom: .7rem;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: var(--color-secondry);
                }
            }
            p{
                color: var(--color-gray-2);
                line-height: 1.5rem;
                padding-bottom: 1rem;
            }
        }

    }
 }
 .contact-content-con{
    display: flex;
    padding-top: 3.5rem;
    .left-contact{
        flex: 2;
        h4{
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p{
            margin: 1rem 0 ;
            line-height: 2rem;
        }
        .contact-info{
            .contact-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    margin: 1rem 0 !important;
                    line-height: 1rem !important;
                }
                .icon{
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i{
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                        
                    }
                }
                
            } 
        }
        .contact-icon{
            display: flex;
            margin-top: 2rem;
            a{
                display: flex;
                align-items: center;
                color: var(--color-white);
                background-color: var(--color-gray-5);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;
                &:hover{
                    background-color: var(--color-secondry);
                    i{
                        color: var(--color-primary);
                    }
                }
                i{ display: flex;
                align-items: center;
                justify-content: center;
                }
            }
        }
    }

    .right-contact{
        flex: 2;
        margin-left: 3rem;
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem ;
                outline: none;
                border: none;
                background-color: var(--color-gray-5);
                width: 100%;
                color: var(--color-white);
                resize: none;
            }
        }
        .i-c-2{
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }
        .submit-btn{
            display: flex;
            justify-content: flex-start;
        }
    }
 }
 .theme-btn{
    top: 5%;
    right: 3%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--color-gray-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
    transition: all .1s ease-in-out;
    &:active{
        transform: translateY(-5px);
    }
    i{
        font-size:1.4rem;
        color: var(--color-gray-2);
        pointer-events: none;
    }
 }